h1{
    font-size: large;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    display: flex;
    height: 100%;
    background-color: blanchedalmond;
}
.one{
    padding: 20px;
    color: aqua;
}
.img1{
    width: 100px;
    height: 100px;
}
.two{
    padding: 20px;
    color: aqua;
}
.img2{
    width: 100px;
    height: 100px;
}
.three{
    padding: 20px;
    color: aqua;
}
.img3{
    width: 100px;
    height: 100px;
}