#body{
    background-color: aqua;
}

.container{

background-color: black;
color: wheat;
}

.venue{
    background-color: ;

}


img{
    
    text-align: right;
    float:right;
    padding-left: 80px;
}
