*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Slide-1 */ 

.nav{
    background-color:#edeced;
    font-size: 25px;
    font-weight:bolder;
    padding: 2%;
    position: fixed;
    width: 100%;
    
}

#Home{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    height: 100%;
    background-color:#edeced ;
    background-position: fixed;
}

.leftside{
    position: relative;
    width: 50%;
    text-align: center;
    
}
.rightside{
    color: #edeced;
    padding: 5%;
    width: 50%;
    font-size: 50px;
    z-index: 2;
}
.text{
    position: relative;
    z-index: 1;
   
}   
.shape{
    text-align:center;
    position: absolute;
    z-index: -1;
}
#shape{
    width: 100%;
    height: 90%;
    padding-top: 18%;
    padding-right: 5%;

}
.icon1{  
    display: flex;
    
}

i{
    color: #edeced;
    flex: 1;
    padding: 40px;
    padding-left: 90px;
    
}

#myphoto{
    width: 80%;
    height: 80%;
    padding-top: 5%;
    padding-bottom: 0%;
}
#name{
    font-size: 60px;
    padding-top: 200px;
    padding-left: 135px;
}
#designation{
    font-size: 40px;
    padding-left: 200px;
    padding-top: 50px;
    
}
/* slide--3 */
#Academics{
    text-align: center;
    display: flex;
    background-color: #DE9A58;
    color: #005B49;
    padding: 20px;
}
#academics{
    font-size: 40px;
    padding-top: 30px;
    text-align: center;
    background-color: #DE9A58;
    color: #005B49;
}
.undergraduate, .highschool {
    /* border: #005B49;
    border-width: 20px; */
    padding: 50px;
    margin: 40px;
    opacity: 0.6;
}
.undergraduate:hover, .highschool:hover {
    opacity: 1;
}
#heraldlogo{
    width: 50%;
    padding-bottom: 30px;

}
#bnkslogo{
    width: 25%;
    padding-bottom: 30px;
}

/* Slide-4  */
#Extracurriculars{
    text-align: center;
    color: white;
    background-color: #601e1e; 
    padding-top: 50px;
    font-size: 50px;
}

#Extra-Curriculars{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #601e1e;;
    justify-content: center;
    text-align:center;
}

.grid-item{
    color:#edeced;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    text-align: center;
}

.icon2, .icon3{
    padding-right: 70px;
    font-size: 50px; 
    margin: 5px; 

}

/* slide-4 */
#Experience{
    background-color:#D1E7E0;
}

/* Last slide  */
#Connect{
    display: flex;
    font-size: 60px;
    background-color: #601e1e;

}
#connect1{
    text-align: left;
    font-size: 50px;
    padding: 40px;
}

.connect{
    color: #edeced;
    flex: 3;
    text-align: center;
}
.contact{
    flex:1;
    font-size: 50px;
    padding: 40px;
}
footer{
    height: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #edeced;
    background-color:#330000;
}



  
