h3{
    font-weight: bold;
    color: brown;
    text-align: center;
    background-color: aquamarine;
}
h3:hover{
    color: aliceblue;
    background-color: black;
}
p{
    color: pink;
    background-color: black;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
#white{
    color: white;
    background-color: black;
text-align: left;
    font-style: normal;
}